:root {
    --theme-yellow: #FFBE0B;
    --theme-navy: #0F1C2E;
    --theme-blue: #164371;
    --theme-white: #F8F9FA;
    --theme-beach: #F5F3EE;
    --theme-light-gray: #D6DBDF;
    --theme-light-grey: #D6DBDF;
    --theme-gray: #7B8A8B;
    --theme-grey: #7B8A8B;
    --theme-green: #16A085;
    --theme-orange: #FDAF35;
    --theme-red: #C0392B;
    --theme-soft-grey: #4A4A4A;
    --theme-soft-gray: #4A4A4A;
}